<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="dist/reset.css">
    <link rel="stylesheet" href="dist/reveal.css">
    <link rel="stylesheet" href="dist/theme/black.css" id="theme">

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="plugin/highlight/monokai.css" id="highlight-theme">
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <p class="fragment">Presentation stage </p>
            <p class="fragment">Bestt</p>
        </section>
        <section>
            <p class="fragment fade-up">Le projet</p>
            <p class="fragment fade-up">
                <img class="fit-picture"
                     src="images/Capture d’écran 2021-02-22 125347.png"
                     alt="candidatheque">
            </p>
        </section>
        <section>

            <h3>La planification</h3>
            <p>Le chef de projet a mis en place un espace dédié qui utilise Trello pour les différents projets en cours,
                dont le nôtre.</p>

        </section>
        <section>
            <img class="fit-picture"
                 src="images/Capture d’écran 2021-02-22 125758.png"
                 alt="candidatheque">
        </section>
        <section>
            <h3>Git dans notre projet.</h3>
            <p>Voici l’architecture du projet candidathèque sur Git.</p>
            <img class="fit-picture"
                 src="images/Capture d’écran 2021-02-22 125953.png"
                 alt="git">
        </section>
        <section>
            <h3>Les différentes branche</h3>
            <img class="fit-picture"
                 src="images/Capture d’écran 2021-02-22 130145.png"
                 alt="git">
        </section>
        <section>
            <h3>Symfony 5</h3>
            <p>Symfony est un framework de type M.V.C ( Modèle,Vue,Contrôleur)</p>
            <img class="fit-picture"
                 src="images/Capture d’écran 2021-02-22 130848.png"
                 alt="git">

        </section>
        <section>
            <h3>Avantage</h3>
            <li class="fragment">Une importante communauté autour du framework</li>
            <li class="fragment">Un nombre important de bundle et/ou outils mise à disposition pour faciliter le
                développement
            </li>
            <li class="fragment">Une documentation claire et nombreuse.</li>
            <li class="fragment">Une debugbar incorporée au projet afin d’identifier les différents problèmes ou
                contrôler le bon fonctionnement du site/application.
            </li>
        </section>
        <section>
            <h3>Doctrine ORM, l’essentiel</h3>
            <p>Doctrine est un projet d’ORM écrit en PHP.
                En tant qu’ORM, son rôle est de :</p>
            <li class="fragment">transformer les objets PHP en écriture SQL</li>
            <li class="fragment">récupérer les écritures SQL et les transformer en objet PHP</li>
        </section>
        <section>
            <h3>Entité</h3>

  <pre><code data-trim data-noescape>
class Postule
{
    /**
     * @ORM\Id
     * @ORM\GeneratedValue
     * @ORM\Column(type="integer")
     */
    private $id;

    /**
     * @ORM\Column(type="datetime", nullable=true)
     */
    private $dateSelection;

    /**
     * @ORM\Column(type="integer", nullable=true)
     */
    private $rang;

    /**
     * @ORM\ManyToOne(targetEntity=Candidat::class, inversedBy="postules")
     */
    private $candidat;

    /**
     * @ORM\ManyToOne(targetEntity=Offre::class, inversedBy="postules")
     */
    private $offre;

    /**
     * @ORM\ManyToOne(targetEntity=Entreprise::class, inversedBy="postules")
     */
    private $agence;
  </code></pre>
            </section>
        <section>
            <h3>Dashboard</h3>
            <img class="fit-picture"
                 src="images/Capture d’écran 2021-02-22 132033.png"
                 alt="git">
        </section>
        <section>
            <h3>Dashboard final</h3>
            <img class="fit-picture"
                 src="images/dash final.png"
                 alt="git">
        </section>
        <section>
            <h3>Boostrap Grid Fonctionnement</h3>
            <p>Exemple de grid </p>
            <img class="fit-picture"
                 src="images/boostrap.png"
                 alt="Boostrap">
        </section>
        <section>
            <h3>La page Html (Twig)</h3>
	<pre><code data-line-numbers="2|3|4|17-24">
 <div class="container-fluid">
        <div class="row">
            <div class=" col-6">
                <a  style="color: black;text-decoration:none" href={{ path('offres_liste') }}>
                <div class="card card-top w-100 mx-auto">
                    <div class="card-body">
                        <div>
                            <i class="fab fa-buffer fa-3x"></i>
                        </div>
                        <p class="card-title text-right" style="font-size: 26px">{{ offres |length }}</p>
                        <h5 class="card-title text-right">Total offres actives</h5>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-6">
                <div class="card card-top w-100 mx-auto">
                    <div class="card-body">
                        <i class="fas fa-users fa-3x"></i>
                        <p class="card-title text-right" style="font-size: 26px";>{{ cvs }}</p>
                        <h5 class="card-title text-right">Total CVs disponibles sur canditatheque</h5>
                    </div>
                </div>
            </div>
        </div>
 </div>
                        </code></pre>
        </section>
        <section>
            <h3>Le Css</h3>
            <pre><code data-line-numbers="2-8|18-23">
body {
    background-color: #ffffff;
    background-image: url("/assets/images/test12.jpg") !important;
    background-position: center;
    background-size: cover;

}
html {
    height: 100%;
}


.chiffreRecap{
    font-size: 100px;
}

.card-top{

    border-radius: 10px 10px 10px 10px !important;
    opacity: 0.8 !important;
    background-color: gainsboro!important;
}
.modal-body{
    color: black;
}
.table {
    table-layout: fixed;
}
.i{
    font-size: 30px!important;
}
            </code></pre>
        </section>
        <section >
            <h3>Les données dans la page</h3>

            <li class="fragment">Le controleur</li>
                <pre class="fragment" ><code data-line-numbers="1-5|6-29" >
/**
* @Route("/entreprise/dashboard", name="dashboard_entreprise")
*
*/
public function dashboard(): Response {


 $entreprise = $this->getUser()->getRecruteur()->getEntreprise()->getId();


$offres=$this->offreRepo->findByCompany($entreprise);


$cvs=$this->cvRepo->findAll();



return $this->render('entreprise/dashboard_entreprise.html.twig',[


'offres'=>$offres,
 'cvs'=>count($cvs),




        ]);
    }


                    </code></pre>
        </section>
        <section>
            <li >Le constructeur</li>
            <pre class="fragment"><code data-line-numbers="2-4|6-12">
protected $offreRepo;
protected $postuleRepo;
protected $cvRepo;

public function __construct(OffreRepository $offreRepo, PostuleRepository $postuleRepo,CVRepository $cvRepo){

        $this->offreRepo=$offreRepo;
        $this->postuleRepo=$postuleRepo;
        $this->cvRepo=$cvRepo;

    }


</code></pre>
        </section>
        <section>
            <li> Recuperation des données</li>
            <pre class="fragment"><code data-trim data-noescape>
 $offres=$this->offreRepo->findByCompany($entreprise);
            </code></pre>
        </section>
        <section>
            <h3>Fonction findByCompany($entreprise)</h3>
<p>A quoi correspond la fonction</p>
<pre><code>
     public function findByCompany($entreprise_id)
    {
        return $this->createQueryBuilder('o')
            ->andWhere('o.entreprise = :entreprise_id')
            ->setParameter('entreprise_id', $entreprise_id)
            ->orderBy('o.datePublication', 'DESC')
            ->getQuery()
            ->getResult()
        ;
    }
</code></pre>
        </section>
        <section>
            <h3>Que retourne $offre</h3>
            <img class="fit-picture fragment"
                 src="images/dump.png"
                 alt="erreur">
        </section>
        <section>
            <section>
                <h3>La page Twig</h3>
                <p class="fragment">Affichage des informations</p>
                <pre><code>
{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset(" assets/css/dashboard_entreprise.css") }}"/>

{% endblock %}

{% block body %}

                </code></pre>
                </section>
            <section>
    <pre><code>
 {% for offre in offres %}

   <tr>
       <td><a href="{{ path('offre',{offre:offre.id})}}" style="color: black">{{ offre.titre }}</a>
             </td>
                 <td>
                     <span class="badge badge-pill badge-success offset-md-3">
                         {% set datePost = offre.datePublication|date('d-m-Y') %}
                         {% set today = "now"|date('d-m-Y') %}
                         {% set difference = date(today).diff(date(datePost)) %}
                         {% set leftDays = difference.days %}
                         {% if datePost == today %}
                         Aujourd'hui
                         {% else %}
                         {{ leftDays }} jour
                         {% endif %}
                     </span>
                 </td>
       <td>
           {{ offre.dateDebut | date('d/m/Y') }}
       </td>


       <td>
           {% if offre.postules is not empty %}
           <h3>
               <a href="#" class="badge badge-pill badge-success offset-md-3 badge-">
                   {{ offre.postules|length }}
               </a>
           </h3>
           {% else %}

           {% endif %}
       </td>

       <td class="text-center">5</td>
   </tr>
        {% endfor %}
    </code></pre>
                <p class="fragment"> Attention</p>
                <img class="fit-picture fragment"
                     src="images/erreur.png"
                     alt="erreur">
            </section>
        </section>
        <section>
            <h3>Alimenter notre bdd</h3>
            <h4>Les datafixtures.</h4>
        </section>
        <section>
        <h3>Partie de datafixture</h3>
           <pre><code>
class JulienData extends Fixture implements FixtureGroupInterface
{
    private $encoder;

    public function __construct(UserPasswordEncoderInterface $encoder)
    {
        $this->encoder = $encoder;
    }

    public function load(ObjectManager $manager)
    {

        $ent1 = new Entreprise();
        $ent1->setRaisonSociale("Entreprise18");
        $ent1->setSiret("654321987");
        $ent1->setAdresse1("rue du bas");
        $ent1->setAdresse2("");
        $ent1->setCodePostal("75003");
        $ent1->setVille("Paris");
        $manager->persist($ent1);


        $rec1 = new Recruteur();
        $rec1->setNom("Gates");
        $rec1->setPrenom("Bill");
        $rec1->setEntreprise($ent1);
        $manager->persist($rec1);

           </code></pre>

        </section>
        <section>
            <h3>Explication </h3>
            <h4>Creation de l'object</h4>
            <pre><code>

        $ent1 = new Entreprise();
        $ent1->setRaisonSociale("Entreprise18");
        $ent1->setSiret("654321987");
        $ent1->setAdresse1("rue du bas");
        $ent1->setAdresse2("");
        $ent1->setCodePostal("75003");
        $ent1->setVille("Paris");
        $manager->persist($ent1);
            </code></pre>

        </section>
        <section>
            <h3>Entité </h3>
            <pre><code>
/**
 * @ORM\Entity(repositoryClass=EntrepriseRepository::class)
 */
class Entreprise
{
    /**
     * @ORM\Id
     * @ORM\GeneratedValue
     * @ORM\Column(type="integer")
     */
    private $id;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $raisonSociale;

    /**
     * @ORM\Column(type="string", length=20, nullable=true)
     */
    private $siret;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $adresse1;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $adresse2;

    /**
     * @ORM\Column(type="string", length=20, nullable=true)
     */
    private $codePostal;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $telephone;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $ville;

    /**
     * @ORM\Column(type="string", length=50, nullable=true)
     */
    private $ape;

    /**
     * @ORM\OneToMany(targetEntity=Recruteur::class, mappedBy="entreprise")
     */
    private $recruteurs;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $role;

    /**
     * @ORM\Column(type="string", length=255, nullable=true)
     */
    private $email;

    /**
     * @ORM\OneToMany(targetEntity=Postule::class, mappedBy="agence")
     */
    private $postules;



    /**
     * Liaison entre CV et Entreprise représente les CVs mis en favoris par l'entreprise (table de liaison entreprise_cv)
     * @ORM\ManyToMany(targetEntity=CV::class, inversedBy="favoris")
     */
    private $favoris;

    /**
     * @ORM\OneToMany(targetEntity=Consulte::class, mappedBy="entreprise")
     */
    private $consultes;

    /**
     * @ORM\OneToMany(targetEntity=Offre::class, mappedBy="entreprise")
     */
    private $offres;

    public function __construct()
    {
        $this->recruteurs = new ArrayCollection();
        $this->postules = new ArrayCollection();
        $this->favoris = new ArrayCollection();
        $this->consultes = new ArrayCollection();
        $this->offres = new ArrayCollection();
    }

    public function getId(): ?int
    {
        return $this->id;
    }

    public function getRaisonSociale(): ?string
    {
        return $this->raisonSociale;
    }

    public function setRaisonSociale(?string $raisonSociale): self
    {
        $this->raisonSociale = $raisonSociale;

        return $this;
    }

    public function getSiret(): ?string
    {
        return $this->siret;
    }

    public function setSiret(?string $siret): self
    {
        $this->siret = $siret;

        return $this;
    }

    public function getAdresse1(): ?string
    {
        return $this->adresse1;
    }

    public function setAdresse1(?string $adresse1): self
    {
        $this->adresse1 = $adresse1;

        return $this;
    }

    public function getAdresse2(): ?string
    {
        return $this->adresse2;
    }

    public function setAdresse2(?string $adresse2): self
    {
        $this->adresse2 = $adresse2;

        return $this;
    }

    public function getCodePostal(): ?string
    {
        return $this->codePostal;
    }

    public function setCodePostal(?string $codePostal): self
    {
        $this->codePostal = $codePostal;

        return $this;
    }

    public function getTelephone(): ?string
    {
        return $this->telephone;
    }

    public function setTelephone(?string $telephone): self
    {
        $this->telephone = $telephone;

        return $this;
    }

    public function getVille(): ?string
    {
        return $this->ville;
    }

    public function setVille(?string $ville): self
    {
        $this->ville = $ville;

        return $this;
    }

    public function getApe(): ?string
    {
        return $this->ape;
    }

    public function setApe(?string $ape): self
    {
        $this->ape = $ape;

        return $this;
    }

    /**
     * @return Collection|Recruteur[]
     */
    public function getRecruteurs(): Collection
    {
        return $this->recruteurs;
    }

    public function addRecruteur(Recruteur $recruteur): self
    {
        if (!$this->recruteurs->contains($recruteur)) {
            $this->recruteurs[] = $recruteur;
            $recruteur->setEntreprise($this);
        }

        return $this;
    }

    public function removeRecruteur(Recruteur $recruteur): self
    {
        if ($this->recruteurs->removeElement($recruteur)) {
            // set the owning side to null (unless already changed)
            if ($recruteur->getEntreprise() === $this) {
                $recruteur->setEntreprise(null);
            }
        }

        return $this;
    }

    public function getRole(): ?string
    {
        return $this->role;
    }

    public function setRole(?string $role): self
    {
        $this->role = $role;

        return $this;
    }

    public function __toString()
    {
        return $this->raisonSociale;
    }

    /**
     * @return Collection|Postule[]
     */
    public function getPostules(): Collection
    {
        return $this->postules;
    }

    public function addPostule(Postule $postule): self
    {
        if (!$this->postules->contains($postule)) {
            $this->postules[] = $postule;
            $postule->setAgence($this);
        }

        return $this;
    }

    public function removePostule(Postule $postule): self
    {
        if ($this->postules->removeElement($postule)) {
            // set the owning side to null (unless already changed)
            if ($postule->getAgence() === $this) {
                $postule->setAgence(null);
            }
        }

        return $this;
    }



    public function getEmail(): ?string
    {
        return $this->email;
    }

    public function setEmail(?string $email): self
    {
        $this->email = $email;

        return $this;
    }

    /**
     * @return Collection|CV[]
     */
    public function getFavoris(): Collection
    {
        return $this->favoris;
    }

    public function addFavori(CV $favori): self
    {
        if (!$this->favoris->contains($favori)) {
            $this->favoris[] = $favori;
        }

        return $this;
    }

    public function removeFavori(CV $favori): self
    {
        $this->favoris->removeElement($favori);

        return $this;
    }

    /**
     * @return Collection|Consulte[]
     */
    public function getConsultes(): Collection
    {
        return $this->consultes;
    }

    public function addConsulte(Consulte $consulte): self
    {
        if (!$this->consultes->contains($consulte)) {
            $this->consultes[] = $consulte;
            $consulte->setEntreprise($this);
        }

        return $this;
    }

    public function removeConsulte(Consulte $consulte): self
    {
        if ($this->consultes->removeElement($consulte)) {
            // set the owning side to null (unless already changed)
            if ($consulte->getEntreprise() === $this) {
                $consulte->setEntreprise(null);
            }
        }

        return $this;
    }

    /**
     * @return Collection|Offre[]
     */
    public function getOffres(): Collection
    {
        return $this->offres;
    }

    public function addOffre(Offre $offre): self
    {
        if (!$this->offres->contains($offre)) {
            $this->offres[] = $offre;
            $offre->setEntreprise($this);
        }

        return $this;
    }

    public function removeOffre(Offre $offre): self
    {
        if ($this->offres->removeElement($offre)) {
            // set the owning side to null (unless already changed)
            if ($offre->getEntreprise() === $this) {
                $offre->setEntreprise(null);
            }
        }

        return $this;
    }
}
            </code></pre>
        </section>
        <section>
            <h1>React Js</h1>
            <img class="fit-picture"
                 src="images/react.jpg"
                 alt="data2">
        </section>
        <section>
            <h3>Pourquoi le choix React</h3>
            <li class="fragment">React est un framework Front-end très populaire</li>
            <li class="fragment">Une documentation claire , simple et qui plus est, en partie en français</li>
            <li class="fragment">Une communauté importante sur celui-ci
            </li>
            <li class="fragment">Rapide ,facile à prendre en main.</li>
        </section>
        <section>
            <h3> Objectif</h3>
            <li class="fragment">Créer une application de sourcing</li>
            <p>Recherche de candidat en fonction de critere, afficher le resultat ainsi que le cv</p>
            <h3 CLASS="fragment"> Difficulté</h3>
            <li class="fragment">Comprendre la philosophie</li>
            <li class="fragment">Principe de fonctionnement.</li>

        </section>
        <section>
           <h3>Structure de l'application</h3>
            <img class="fit-picture fragment"
                 src="images/Capture d’écran 2021-02-22 133046.png"
                 alt="structure">
        </section>
        <section>
            <h3>A quoi ressemble le resultat Final</h3>
            <img class="fit-picture fragment"
                 src="images/sourcing.png"
                 alt="sourcing">
        </section>
        <section>
            <h3>La structure du code </h3>
            <img class="fit-picture "
                 src="images/reactstruct.png"
                 alt="api">
        </section>
        <section>
            <h3> Importation de librairie</h3>
            <pre><code>
import Container from "react-bootstrap/Container";
import Row from "react-bootstrap/Row";
import Col from "react-bootstrap/Col";
import Form from "react-bootstrap/Form";
            </code></pre>
        </section>
        <section>
            <h3>Pause dans le projet</h3>
            <p class="fragment">Pourquoi</p>
            <p>Quelle solution ?</p>
        </section>
        <section>
            <h3>API Platform</h3>
            <img class="fit-picture fragment"
                 src="images/apiplaform.png"
                 alt="api">
        </section>
        <section>
            <h5>Api Ville </h5>
            <p class="fragment">Explication</p>
            <img class="fit-picture fragment"
                 src="images/api ville.png"
                 alt="api">
        </section>
        <section>
            <section>Explication des fonctions </section>
            <section>
                <section>Les contantes</section>
                <pre><code>
                    function Recherche(props) {
    const [inputValue, setValue] = useState('');
    const [selectedValue, setSelectedValue] = useState(null);
    const [data, setdata] = useState(null);

                </code></pre>
            </section>

            <section>Les contantes : la fonction fetch
            <p >L'API Fetch fournit une interface JavaScript pour l'accès et la manipulation des parties de la pipeline HTTP, comme les requêtes et les réponses.</p>
            <pre><code>
                 const loadOptions = (inputValue) => {
        return fetch(`http://candidatheque.canguidev.site//api/villes?nom=${inputValue}`).then(res => res.json());
    };
            </code></pre>
        </section>
        <section>
            <h3> Le parametrage de l'input</h3>
            <pre><code>
 <AsyncSelect

         placeholder=""
         getOptionLabel={e => e.nom}
         getOptionValue={e => e.id}
         loadOptions={loadOptions}
         onInputChange={handleInputChange}
         onChange={handleChange}
         placeholder="Saisissez la ville.."
         components={{DropdownIndicator: () => null, IndicatorSeparator: () => null}}
                                />
            </code></pre>
        </section>
        <section>
            <h3> Demonstration Imput Ville</h3>
            <a href="http://candidatheque.canguidev.site">Candidatheque</a>
        </section>
        </section>
        <section>
            <h3>Autre composants</h3>
            <p>Les autres composants on la même syntaxe pour capter les informations </p>
        </section>
        <section>
            <section>
            <h3> Creation Api pour obtenir les informations suite a une requete</h3>
            <p>1er etape</p>
                <pre><code>
     /**
     * @Route("/api/sourcing/recherche", name="api_sourcing_recherche")
     */
 public function api_sourcing_recherche(CVRepository $cv_repo, Request $request,VilleRepository $repoVille)
    {
        $keyword = $request->query->get("keyword");
        $ville = $request->query->get("ville");
        $metier = $request->query->get("metier");
        $favoris = $request->query->get("favoris");
        $rayon=$request->query->get('rayon');
                </code></pre>
            </section>
            <section>
                <p> 2eme etape</p>
                <pre><code>
 $query = $cv_repo->createQueryBuilder('c')
            ->select('c.id', 'can.nom as nom', 'can.prenom as prenom', 'can.adresse as adresse','can.telephone as telephone','c.titre as titre','met.id as idmetier','met.libelle as metLibele','dep.id as idrecruteur','vil.id as idville','vil.nom as ville')
            ->join('c.candidat', 'can')
            ->join('c.metier','met')
            ->leftjoin('can.ville','vil')
            ->leftJoin('c.competences','comp')
            ->leftJoin('c.deposePar','dep');
                </code></pre>
            </section>
            <section>
            <p> 3eme etape</p>
            <pre><code>
if ($keyword) {
            $query
                ->andWhere('(c.titre like :keyword or met.libelle like :keyword or comp.libelle like :keyword)')
                ->setParameter('keyword', '%' . $keyword . '%');

        }

        if ($favoris){
            $query
                ->andWhere('dep.id like :recruteur ')
                ->setParameter('recruteur',  $this->getUser()->getRecruteur()->getId() );

        }

        if ($metier){
            $query
                ->andWhere('met.id like :metier ')
                ->setParameter('metier',  $metier );

        }

        if ($rayon){

            $query
                ->andWhere('vil.id IN (:result)')
                ->setParameter(
                    'result', $repoVille->searchAround($ville,$rayon)
                );


        }
            </code></pre>
            </section>
            <section>
                <p> On termine</p>
                <pre><code>

        $entities=$query->distinct()->getQuery()
            ->setMaxResults(30)
            ->getResult();

        return new JsonResponse($entities);
    }
                </code></pre>
                <p>On utilise JsonResponse afin de pouvoir envoyer des données provenant du language php vers javascript (format de donnée)</p>
            </section>
        </section>
        <section>
            <h3>Comportement des actions</h3>
            <img class="fit-picture fragment"
                 src="images/Capture d’écran 2021-02-22 133626.png"
                 alt="api">
        </section>
        <section>
            <h3>Conclusion</h3>
        </section>

    </div>
</div>

<script src="dist/reveal.js"></script>
<script src="plugin/notes/notes.js"></script>
<script src="plugin/markdown/markdown.js"></script>
<script src="plugin/highlight/highlight.js"></script>
<script>
    // More info about initialization & config:
    // - https://revealjs.com/initialization/
    // - https://revealjs.com/config/
    Reveal.initialize({
        hash: true,

        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes]
    });
</script>
</body>
</html>
